
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
	background-color: transparent;
	overflow: hidden;
}
#body::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#body::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
}

#body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(left, #fff, #e4e4e4);
	border: 1px solid #aaa;
}

#body::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

#body::-webkit-scrollbar-thumb:active {
	background: linear-gradient(left, #22add4, #1e98ba);
}

.container-fluid {
	position: absolute;
	padding: 0;
	margin: 0;
	display: inline-block;
	left: 7.5vw;
	top: 20vw;
	transition: right 1s;
}

.container {
	display: block;
	top: 3vw;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

#page-nxt:hover,
#page-prv:hover {
	cursor: pointer;
}

